table, th, td{
              border: thin black;
}
table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
th {
    background-color: lightgray;
    font-size:large;
}
th, td{
    padding: 12px 15px;
}
tr{
    border-bottom: 1px solid #dddddd;
}
tbody tr:nth-of-type(even){
    background-color: #f3f3f3;
}
tbody tr:last-of-type{
    border-bottom: 2px solid #009879;
}


